@model IEnumerable<Shared.Models.Entities.Teacher>

@{
    ViewBag.Title = "Teachers";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.middlename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
